<h1>Edit Landmark</h1>

<form method="POST" action="/landmarks/<%=@landmark.id%>">
	<input type="hidden" id="hidden" name="_method" value="patch">

	<label>Name of Landmark: </label>
	<input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">

	<label>Year Completed: </label>
	<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
	<input type="submit" value="Edit Landmark">
</form>