<h1>Landmarks new form</h1>

<form method="POST" action="/landmarks">
	<label>Name of Landmark: </label>
	<input type="text" name="landmark[name]" id="landmark_name">

	<label>Year Completed: </label>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
	<input type="submit" value="Create New Landmark">
</form>